/* reset */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #4c4c4c;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Page */

.b-header {
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  background-color: #352e36;
}

.b-title {
  font-size: 1.2em;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}

.b-no-imgs  {
  color: #7bcbc4;
  height: 140px;
  padding-top: 62px;
  text-align: center;
  font-size: 1.25em;
}

.b-content {
  padding-top: 140px;
  max-width: 400px;
  margin-left: 20px;
  margin-right: 20px;
}

.b-img-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid #c3c3c3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.b-img-wrap {
  width: 30%;
}

.b-img {
  max-width: 100%;
  height: auto;
}

.b-img-info {
  width: 70%;
  padding-left: 20px;
}

@media (min-width: 769px) {
  .b-content {
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}
